* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

h1 {
}

.container {
    margin: 1rem;
    padding: 33%;
    border: 2px dashed darkorange;
    min-height: 50vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}